.two{
  display:flex;
    background-color:deepskyblue;
    height:300px;
   margin: 0px;
   justify-content: center;
  flex-direction: column;
  text-align: center;

}
.flex-parent{
 display:flex;
 justify-content: center;
 min-height:150px;
  }
.img-responsive{
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222);

}
.flex-item{
  display:flex;
  justify-content: space;
  flex-direction: column;
  color:white;
  width: 15%;
  text-shadow: 1px 1px #000000;
  /*margin-top: 0;*/
  /*margin: 0 5 0 5;*/
  /*margin:5%;*/
vertical-align: top;
/*text-align: center;*/
}
.three{
    display: flex;
    justify-content: center;
    background-color:white;
    height: 125px;
    text-align: center;
    align-content: bottom;
    margin:auto auto;
    -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-justify-content: flex-end;
   
}
.four{
    display: flex;
    justify-content: center;
    background-color:white;
    height: 125px;
}
.five{
    height:250px;
background: url(images/map.png) no-repeat;
background-position:center;
background-width:100%;
}
.six{
   
    height:100px;
  
    background-color:black;
    color:white;
    text-align:center;
    vertical-align: middle;
}
.form-inline{
    display:flex;
    justify-content: center;

}
.flex-link{
-webkit-box-align: center;
margin-top:15px;
}
.flex-footer{
margin:auto auto;
glyph-orientation-horizontal: inherit;
margin-top:40px;
}