  *{outline:1px solid red;}
.one{
height:400px;
background: url(http://www.imore.com/sites/imore.com/files/styles/large/public/topic_images/2015/apple-pencil-topic.png?itok=ZGM5xkNv) no-repeat;
background-color: #F88816;
background-size: 600px;
background-position: right;
}
.two{
background-color: #469AE0;
  
}
.card{
display: inline-block;
vertical-align: middle;
text-align:left;
max-width:250;
color:white;
text-shadow: 2px 2px #444;
margin-top:200;
margin-bottom:0px;

}
.btn{
margin-top:10;
font-size:8px;
width:100;
height:20;
}
.two{
  background-color:#469AE0;
  height: 300px;
  
}
.col-lg-2{
  height:300;
  

}
.col-lg-6{
  margin-top: 200px;
}